*.pyc
*.output
*.score
*.log
.DS_Store
venv
__pycache__
.DS_Store
*.egg-info
.ipynb_checkpoints
source.zip
output.zip
ensegment/answer/baseline.py
ensegment/answer/ensegment.py
ensegment/answer/ensegment.ipynb
zhsegment/answer/baseline.py
zhsegment/answer/zhsegment.py
zhsegment/answer/zhsegment.ipynb
